

<!--<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Online Book Store</span>
</nav>
<hr />-->


<!--<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" style = "float:right">
    <ul class="navbar-nav">
      <li class="nav-item active"style = "float:right">
        <a class="nav-link" href="#">logout <span class="sr-only">(current)</span></a>
      </li>
  
    </ul>
  </div>
</nav> -->


<router-outlet></router-outlet>
<hr/>
<div class="float-right">
    <p class="mx-5 font-weight-bold"><span class="text-uppercase text-secondary mr-2">Powered By </span>
        <img src="assets/imgs/hubpix-logo.svg" alt="footer" width="80" height="28"><b> Platform</b>
    </p>
</div>