<div class="container">
    <h1 class="text-center">Visitors</h1>
    <button class="btn btn-primary my-2"><a href="#" [routerLink]="['/managecoowners']" style="text-decoration: none; color: white;">Back to Owner's List</a></button>

    <table class="table table-striped border-secondary">
        <thead class="lead">
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let owner of nonOwnerList">
                <td>{{owner.username}}</td>
                <td>{{owner.fullName}}</td>
                <td>{{owner.address}}</td>
                <td><button class="btn btn-success" style="width: 100%;" (click)=AddOwner(owner.userId)>ADD</button></td>
            </tr>
        </tbody>
    </table>

</div>